* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.tituloHeader p {
  font-size: 70px;
  text-align: left;
  line-height: 10px;
  font-weight: bold;
  display: block;
  padding-bottom: 100px;
}

.tituloInicio {
  font-size: 80px;
}

.headerImage {
  width: 1000px;
  display: flex;
  padding-top: 200px;
}

.navegador {
  background-color: rgb(86, 106, 221);
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  top: 0%;
  position: fixed;
  font-size: 55px;
  font-weight: bold;
  gap: 10px;
  z-index: 1;
}

.iconoMenu {
  display: none;
}

.navegadorLinks {
  display: flex;
  gap: 100px;
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  padding: 20px;
}

.navegadorLink a {
  display: block;
  padding: 20px 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navegadorSectionAlinks {
  display: flex;
  gap: 100px;
  padding: 200px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.navegadorSectionAlink {
  background-color: rgb(86, 106, 221);
  display: flex;
  width: 800px;
  height: 200px;
  gap: 100px;
  border: 3px solid;
  border-radius: 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.navegadorSectionAlink a {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 55px;
  font-weight: bold;
}

.mainImage {
  width: 100%;
  display: block;
  display: flex;
  position: relative;
  margin-bottom: 60px;
  margin-top: 60px;
}

.tituloMainImage {
  font-size: 200px;
  text-align: right;
  width: 30% vw;
  font-weight: bold;
  color: rgb(233, 34, 20);
  opacity: 0.8;
  display: block;
  padding: 100px;
  position: absolute;
  top: 20%;
  right: 20px;
}

.mainText {
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
}

.sectionAtextPar1 {
  width: 100%;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-style: bold;
  color: rgb(86, 106, 221);
  padding: 100px 0px 25px 0px;
}

.sectionAtextPar2 {
  width: 100%;
  font-size: 65px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  padding: 100px 0px 25px 0px;
}

.footer1 {
  background-color: rgba(128, 128, 128, 0.411);
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  border-top: 0px none white;
  margin-top: 500px;
}

.footer1Image {
  width: 500px;
  display: block;
  margin: auto;
}

.footer1Text1 {
  font-size: 60px;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  display: block;
  padding: 10px;
}

.footer1Text2 {
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  display: block;
  padding: 20px;
}

.footer2 {
  background-color: white;
  display: block;
  width: 100%;
  height: 250px;
  padding: 20px;
}

.footer2Image {
  width: 100px;
  display: block;
}

.footer2Text1 {
  display: block;
  font-size: 40px;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
}

#exploracion {
  font-size: 50px;
  text-align: left;
  font-weight: lighter;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 40px;
}

#investigacion {
  font-size: 50px;
  text-align: left;
  font-weight: lighter;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 40px;
}

#diseno {
  font-size: 50px;
  text-align: left;
  font-weight: lighter;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 40px;
}

#creacion {
  font-size: 50px;
  text-align: left;
  font-weight: lighter;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 40px;
}

#evaluacion {
  font-size: 50px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 40px;
}

.fasesTitle {
  display: flex;
  font-size: 80px;
  font-family: "Roboto";
  font-style: normal;
  padding: 50px;
}

.tallerTitleText2 {
  grid-area: proyD;
  font-size: 50px;
  text-align: right;
  justify-items: center;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
  align-self: end;
}

.fasesText p {
  margin-bottom: 35px;
  margin-top: 35px;
}

.fasesText {
  display: block;
  font-size: 65px;
  font-family: "Roboto";
  font-style: normal;
  padding: 50px;
  margin-bottom: 0px;
  border: 10px solid color rgb(86, 106, 221);
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.sectionCform {
  width: 1500px;
  background-color: rgba(128, 128, 128, 0.411);
  border-radius: 20px;
  margin: 200px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.sectionCtitleForm {
  display: block;
  font-size: 60px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
}

.textData {
  display: flex;
  font-size: 50px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  justify-content: center;
}

.textData2 {
  font-size: 40px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
}

.iconData {
  width: 120px;
}

.dataForm {
  display: flex;
  font-size: 60px;
  padding: 20px;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  border: 50px;
  justify-content: center;
  padding-top: 50px;
}

.dataFormFill {
  display: flex;
  font-size: 60px;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  justify-content: center;
  padding-bottom: 20px;
}

.dataForm2 {
  display: flex;
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  padding: 20px;
}

.dataForm3 {
  width: 30%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  bottom: -50px;
  right: 20px;
  background-color: rgb(233, 166, 20);
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  align-items: center;
}

.checkbox {
  width: 100%;
}

.sectionDlocation {
  display: flex;
  padding: 30px;
  margin-top: 300px;
  width: 100%;
  justify-content: center;
}

.sectionDmap {
  display: flex;
  width: 60%;
  padding: 30px;
}

.sectionDtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
}

.sectionDtext p {
  display: block;
  font-size: 50px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
}

.sectionBtarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 100px;
}

.sectionBtarjeta {
  width: 900px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}

.sectionBtitle {
  display: block;
  padding: 200px 10px 10px 10px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 100px;
  font-style: normal;
}

.sectionBim {
  width: 100%;
  border-radius: 500px;
}

.sectionBname {
  font-size: 60px;
  text-align: center;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
}

.sectionBtext {
  font-size: 50px;
  text-align: center;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
}

.sectionBconclusion {
  display: block;
  padding: 200px 10px 10px 10px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 70px;
  font-style: normal;
}

.sectionAp {
  display: flex;
  position: relative;
  justify-content: center;
}

.sectionApText {
  display: flex;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
}

.sectionAlogo {
  width: 1000px;
  display: block;
  margin: auto;
}

.tarjetasTitulo {
  display: block;
  padding: 200px 10px 10px 10px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 80px;
  font-style: normal;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
  padding: 100px;
}

.tarjeta {
  width: 900px;
  border: 10px solid rgb(86, 106, 221);
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.411);
  margin: 20px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjetaIm {
  width: 100%;
}

.tarjetaTitle {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
}

.tarjetaText p {
  margin-bottom: 35px;
  margin-top: 35px;
}

.tarjetaText {
  font-size: 50px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
}

.botonTarjeta {
  width: 40%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  bottom: -50px;
  right: 20px;
  background-color: rgb(233, 166, 20);
  justify-content: center;
  align-items: center;
}

.botonTarjeta h4 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  padding: 10px;
  text-align: center;
}

.botonTarjeta {
  width: 40%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  position: absolute;
  bottom: -50px;
  right: 20px;
  background-color: rgb(233, 166, 20);
  justify-content: center;
  align-items: center;
}

.taller {
  width: 80%;
  height: auto;
  margin: auto;
  display: grid;
  border: 10px solid rgb(86, 106, 221);
  background-color: rgba(128, 128, 128, 0.411);
  place-content: center;
  border-radius: 50px;
  padding: 80px;
  margin-bottom: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 0.5fr 2fr 0.5fr 0.5fr;
  grid-template-areas: "proyA proyA proyA proyA proyS proyD" "proyC proyC proyC proyC proyF proyF" "proyE proyE proyE proyE proyB proyB" "proyG proyH proyI proyJ proyK proyL" "proyP proyM proyQ proyN proyR proyO";
}

.tallerIm {
  grid-area: proyA;
  width: 100%;
  height: 100%;
  border-radius: 70px;
  object-fit: cover;
}

.tallerTitle {
  grid-area: proyC;
  font-size: 70px;
  text-align: center;
  justify-items: center;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  align-self: center;
}

.tallerTitleText2 {
  grid-area: proyD;
  font-size: 60px;
  color: rgb(86, 106, 221);
  text-align: right;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
  align-self: end;
}

.tallerTitleText1 {
  grid-area: proyE;
  font-size: 60px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
}

.tallerText2 {
  grid-area: proyF;
  font-size: 70px;
  text-align: right;
  font-weight: light;
  font-family: "Roboto";
  font-style: light;
  padding: 30px;
  color: rgb(86, 106, 221);
  align-self: center;
}

.tallerIconData1 {
  grid-area: proyG;
  object-fit: cover;
  justify-self: end;
  align-self: center;
  font-size: 200px;
}

.tallerTextData1 {
  grid-area: proyH;
  font-size: 60px;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
  align-self: center;
}

.tallerIconData2 {
  grid-area: proyI;
  object-fit: cover;
  justify-self: end;
  align-self: center;
  font-size: 200px;
}

.tallerTextData2 {
  grid-area: proyJ;
  font-size: 60px;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
  align-self: center;
}

.tallerIconData3 {
  grid-area: proyK;
  object-fit: cover;
  justify-self: end;
  align-self: center;
  font-size: 200px;
}

.tallerTextData3 {
  grid-area: proyL;
  font-size: 60px;
  font-weight: light;
  font-family: "Roboto";
  font-style: normal;
  padding: 30px;
  align-self: center;
}

.tallerData1text {
  grid-area: proyM;
  font-size: 50px;
  text-align: Left;
  font-weight: light;
  font-family: "Roboto";
  font-style: light;
  padding: 30px;
}

.tallerData2text {
  grid-area: proyN;
  font-size: 50px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: light;
  padding: 30px;
}

.tallerData3text {
  grid-area: proyO;
  font-size: 50px;
  text-align: left;
  font-weight: light;
  font-family: "Roboto";
  font-style: light;
  padding: 30px;
}

@media (max-width: 2200px) {
  .navegadorLinks {
    position: absolute;
    margin-top: 300px;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 30px;
    right: -100vw;
    transition: right 0.1s ease;
    transition-delay: 2s;
  }
  .navegadorLink a {
    display: block;
    padding: 20px 5px;
    color: white;
    background-color: rgb(86, 106, 221);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 20px;
    text-align: end;
  }
  .iconoMenu {
    display: block;
    position: absolute;
    color: white;
    margin: 20px;
    font-size: 80px;
  }
  .iconoMenu:hover ~ .navegadorLinks {
    right: 0vw;
  }
  .tituloMainImage {
    font-size: 160px;
    padding: 10px;
  }
}
@media (max-width: 1700px) {
  .tituloMainImage {
    font-size: 130px;
    padding: 10px;
  }
  .tituloHeader p {
    font-size: 70px;
  }
  .headerImage {
    width: 800px;
  }
  .sectionAtext {
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
  }
  .fasesText {
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
    margin: 10px;
  }
  .fasesTitle {
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
    text-align: center;
  }
  .sectionBtitle {
    font-size: 60px;
    line-height: 60px;
    padding: 10px;
  }
}
@media (max-width: 1300px) {
  .tituloMainImage {
    font-size: 100px;
    padding: 10px;
  }
}
@media (max-width: 1000px) {
  .tituloMainImage {
    font-size: 60px;
    padding: 10px;
  }
  .headerImage {
    width: 90%;
    margin: auto;
  }
  .tituloHeader p {
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    padding: 30px;
  }
  .tarjetas {
    padding: 10px;
  }
  .tarjeta {
    width: 98%;
    margin: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .tarjetaText {
    margin-top: 0px;
  }
  .tarjetaTitle {
    font-size: 60px;
  }
  .sectionBconclusion {
    font-size: 60px;
  }
  .tarjetasTitulo {
    font-size: 60px;
  }
  .footer2Text1 {
    text-align: center;
  }
  .footer2Image {
    display: none;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  .tituloHeader p {
    font-size: 60px;
  }
  .tituloMainImage {
    font-size: 160px;
    padding: 5px;
  }
}/*# sourceMappingURL=main.css.map */