
.mainImage {
    width: 100%;
    display: block;
    display: flex;
    position: relative;
    margin-bottom: 60px;
    margin-top: 60px;
    }

.tituloMainImage{
    font-size: 200px;
    text-align:right;
    width: 30%vw;
    font-weight: bold;
    color: rgb(233, 34, 20);
    opacity: 0.8;
    display: block;
    padding: 100px;
    position: absolute;
    top: 20%;
    right: 20px;
}
    
.mainText{
     font-size: 50px;
     text-align: center;
     font-weight: normal;
     font-family: "Roboto";
     font-style: normal;
    }