
.sectionAtextPar1{
    width: 100%;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    font-style: bold;
    color: $primaryColor;
    padding: 100px 0px 25px 0px;
   }

.sectionAtextPar2{
    width: 100%;
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    font-style: normal;
    padding: 100px 0px 25px 0px;
   }