
#exploracion {
    font-size: 50px;
    text-align:left;
    font-weight:lighter;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 40px;
       }

#investigacion {
    font-size: 50px;
    text-align:left;
    font-weight:lighter;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 40px;
        }

#diseno {
    font-size: 50px;
    text-align:left;
    font-weight:lighter;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 40px;
        }
    
#creacion {
    font-size: 50px;
    text-align:left;
    font-weight:lighter;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 40px;
                }
#evaluacion {
    font-size: 50px;
    text-align:left;
    font-weight:light;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 40px;
            }

.fasesTitle { 
    display: flex;
    font-size: 80px;
    font-family:"Roboto";
    font-style:normal;
    padding: 50px;
            }
            
.tallerTitleText2{
    grid-area: proyD;
    font-size: 50px;
    text-align:right;
    justify-items: center;
    font-weight: light;
    font-family: "Roboto";
    font-style: normal;
    padding: 30px;
    align-self: end;
}

.fasesText p{ 
    margin-bottom: 35px;
    margin-top: 35px;
                      }

.fasesText{ 
    display: block;
    font-size: 65px;
    font-family:"Roboto";
    font-style:normal;
    padding: 50px;
    margin-bottom: 00px;
    border: 10px solid color rgb(86, 106, 221);
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
                    }
